{include file="public/_header"}
<div class="chinaJoy_body ">
    <div class="page page-with-subnavbar pageBg_fa">
        <div class="navbar navbar_chinaJoy">
            <div class="navbar-inner">
                <div class="left">
                    <a href="{:url('mobile/block/block_records')}" class="external"><i class="iconfont icon-leftArrow"></i></a>
                </div>
                <div class="title">{$title}</div>
            </div>
            <!-- Subnavbar -->
            <div class="subnavbar subTabs block_info_tabs">
                <div class="subnavbar-inner">
                    <div class="block_info">
                        <h3>区块基本信息</h3>
                        <div class="flexBox text_public">
                            <div class="flexOne">区块高度：{$block.height}</div>
                            <div>记录数：{$block.transaction_num}</div>
                        </div>
                        <div class="flexBox text_public">
                            <div class="flexOne">
                                时间戳：
                                {if condition="$block.timestamp > 0"}{$block.timestamp|date="Y-m-d H:i:s",###}{else /}{/if}
                            </div>
                        </div>
                    </div>
                    <div class="data_title">
                        <div class="data_number">用户名</div>
                        <div class="data_time">提交时间</div>
                        <div class="data_transactions">分数</div>
                        <div class="data_medal">获奖</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content  block-records-content">
            <ul id="detail_ul" class="data_content">
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;
    
    var loading = false;//正在加载中
    var hasNext = true;//是否有下一页
    var current_page = 0;//当前页

    //页面初始化时获取一次数据
    get_initData();

    //获取第一页初始化数据
    function get_initData(){
        //当前页重置为0
        current_page = 0;
        //清空列表数据
        $$('#detail_ul').empty();
        //加载效果
        $$('.page-content').append(`<div class="jiazai"><i class="iconfont icon-jiazai"></i></div>`);
        //加载数据
        ajax_getBlockRecordDetail();
    }

    //监听页面滚动，当滚动到底部时触发加载下一页
    $$('.page-content').scroll(function(){
        var scrollHeight = $$(this)[0].scrollHeight;
        var scrollTop = $$(this)[0].scrollTop;
        var height = $$(this).height();
        //已经滚动到底部
        if(scrollTop + height >= scrollHeight){
            if(loading) return;//如果正在加载数据，直接返回
            if(!hasNext) return;//如果没有下一页，直接返回
            loading = true;
            //加载效果
            $$(this).append(`<div class="jiazai"><i class="iconfont icon-jiazai"></i></div>`);
            //加载数据
            ajax_getBlockRecordDetail();
        }
    });

    //动态获取数据
    function ajax_getBlockRecordDetail(){
        var url = "{:url('mobile/block/ajax_getBlockRecordDetail')}";
        var data = {
            'height':"{$block.height}",
            'page':parseInt(current_page) + 1 
        };
        app.request.json(url, data, function(res){
            //去除加载效果
            $$('.jiazai').remove();
            //页面添加数据
            var listhtml = getListHtml(res.data);
            $$('#detail_ul').append(listhtml);
            //设置当前页面以及是否有下一页
            current_page = res.current_page;
            hasNext = res.hasNext;
            //去除加载锁
            loading = false;
        })
    }

    //列表填充数据
    function getListHtml(data){
        var html = '';
        for(var i = 0; i < data.length; i++){
            var medal = data[i].status ? `<div class="data_medal"><span class="color-green">是</span></div>`
                : `<div class="data_medal"><span class="color-red">否</span></div>`;
            html += 
            `<li>
                <a href="#" class="external data_box">
                    <div class="data_number">`+data[i].nickname+`</div>
                    <div class="data_time">`+timestampToDate(data[i].create_time * 1000)+`</div>
                    <div class="data_transactions">`+data[i].score+`</div>
                    `+medal+`
                </a>
            </li>`;
        }
        return html;
    }

    //时间处理辅助函数
    function timestampToDate(time){
        var timeStamp = new Date(time);
        var y = timeStamp.getFullYear();
        var m = timeStamp.getMonth()+1;
        var d = timeStamp.getDate();
        var h = timeStamp.getHours();
        var mm = timeStamp.getMinutes();
        var s = timeStamp.getSeconds();
        if(m < 10) m = '0'+m;
        if(d < 10) d = '0'+d;
        if(h < 10) h = '0'+h;
        if(mm < 10) mm = '0'+mm;
        if(s < 10) s = '0'+s;
        return y+'.'+m+'.'+d+' '+h+':'+mm+':'+s;
    }
</script>
{include file="public/_footer"}
