{include file="public/_header"}
<!-- App root element -->
<div id="app" class="chinaJoy_body">
    <!-- Statusbar overlay -->
    <div class="statusbar"></div>

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <!-- Initial Page, "data-name" contains page name -->
        <div data-name="home" class="page no-toolbar">

            <!-- Top Navbar -->
            <div class="navbar navbar_chinaJoy">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" data-popup=".popup_menu" class="popup-open"><i class="iconfont icon-menu"></i></a>
                    </div>
                    <div class="title">{$title}</div>
                </div>
            </div>

            <!-- Toolbar -->
            <div class="toolbar toolbar-hidden">
                <div class="toolbar-inner">
                    <!-- Toolbar links -->
                </div>
            </div>

            <!-- Scrollable page content -->
            <div class="page-content chinaJoy_content" style="padding-bottom: 0">
                <div class="top_img"><img src="__IMG__/trophy.png" alt=""></div>

                <div class="game_link_button" style="padding-top: 25px;">
                    <!-- <a href="{:url('block/ranking_teams')}" class="green_button external">生态排行榜</a> -->
                    <a href="{:url('block/ranking_list')}" class="orangeYellow_button external">全体排行榜</a>
                    <!-- <a href="{:url('block/block_records')}" class="skyBlue_button external">区块抽奖</a> -->
                    <!-- <a href="{:url('joy/rules')}" class="johnnyjumpup_button external">活动规则</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;
</script>
{include file="public/_menu"}
{include file="public/_footer"}
