{include file="public/_header"}
<div class="views chinaJoy_body ">
    <div class="page page-with-subnavbar pageBg_fa view view-main">
        <div class="navbar navbar_chinaJoy">
            <div class="navbar-inner">
                <div class="left">
                    <a href="{:url('block/index')}" class="external"><i class="iconfont icon-leftArrow"></i></a>
                </div>
                <div class="title">{$title}</div>
            </div>
            <!-- Subnavbar -->
            <div class="subnavbar subTabs">
                <div class="subnavbar-inner">
                    <!-- Subnavbar content, for example tabs buttons -->
                    <div class="segmented">
                        {foreach name='tabs' item='tab' key='key'}
                            <a href="#tab_{$key}" class="tab-link {if $key == $cur_tab}tab-link-active{/if}" data-id="{$key}">{$tab.name}</a>
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>
        <div class = "pages navbar-through">
            <div data-page = "home" class="page" style="margin-top: 40px;">
                <div class = "page-content infinite-scroll tabs-animated-wrap tabs" style="padding-top: 49px">
                    <div class="data_search" style="background: #fff;">
                        <div class="flexBox search_box">
                            <div class="block_time_search item-input">
                                <input type="text" placeholder="选择日期" readonly id="picker-data">
                            </div>
                            <form class="flexOne searchbar">
                                <div class="searchbar-inner">
                                    <div class="searchbar-input searchbar-input-wrap">
                                        <input type="search" id="searchbar-input" placeholder="昵称">
                                        <input style="display: none">
                                        <a href="#" class="searchbar-clear"></a>
                                    </div>
                                    <a class="searchbar-cancel searchbar-disable-button">取消</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    {foreach name='tabs' item='tab' key='key'}
                    <div id="tab_{$key}" class="tab {if $key == $cur_tab}tab-active{/if}">
                        <div class="searchbar-backdrop"></div>
                        <div class="list list_content searchbar-found list-block">
                            <ul>
                            </ul>
                        </div>
                        <div class="jiazai infinite-scroll-preloader">
                            <i class="iconfont icon-jiazai"></i>
                        </div>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;

    var cur_tab  = 'tab_dailytop';
    var cur_tab_id = 'dailytop';
    var old_tab_id = 'dailytop';
    var loading = false;
    var lastIndex = $$('#'+cur_tab + ' .list-block li').length;
    var itemsPerLoad = 10;

    $$('.tab-link').on('click', function () {
        old_tab_id = cur_tab_id;
        oldLastIndex = $$('#tab_'+old_tab_id + ' .list-block li').length;
        var id = $(this).attr('data-id');
        if(id == 'dailytop'){
            $$('.block_time_search').show();
        }else{
            $$('.block_time_search').hide();
        }
        $$('.tab').each(function(){
            if($(this).hasClass('tab-active')){
                $(this).removeClass('tab-active');
            }
        });
        $$('#tab_'+id).addClass('tab-active');
        cur_tab = 'tab_'+id;
        cur_tab_id = id;
        lastIndex = $$('#'+cur_tab + ' .list-block li').length;
        $$('.tab-link').each(function(){
            if($(this).hasClass('tab-link-active')){
                $(this).removeClass('tab-link-active');
            }
        });
        $(this).addClass('tab-link-active');
        if(lastIndex == 0) loadData();
    });

    $$('.infinite-scroll').on('infinite', function () {
        loadData();
    });

    function loadData(){
        if (loading) return;
        loading = true;
        setTimeout(function () {
            var cur_page = lastIndex/itemsPerLoad + 1;
            var searchText = $$('.searchbar #searchbar-input').val();
            var dateText = $$('#picker-data').val();
            if(lastIndex%itemsPerLoad > 0) cur_page++;
            $$.get("{:url('block/ajax_getRankingList')}", {type:cur_tab_id,page:cur_page,pageNum:itemsPerLoad,searchText:searchText,dateText:dateText}, function (data) {
                data = JSON.parse(data);
                if(data.length > 0){
                    var html = '';
                    var cur_key = 0;
                    var team_name = '';
                    var ranking_detail_url = '';
                    var sort_text = '';
                    for (var i = lastIndex + 1; i <= lastIndex + data.length; i++) {
                        if(data[cur_key].type == cur_tab_id){
                            team_name = (data[cur_key].teamname) ? '('+data[cur_key].teamname+')': '';
                            ranking_detail_url = "{:url('block/ranking_detail')}?user_id=" + data[cur_key].user_id;
                            if(cur_tab_id == 'dailytop'){
                                sort_text = '<div class="user_medal">累计得分：<span>'+data[cur_key].total_score+'</span></div>';
                            }else{
                                sort_text = '<div class="user_medal">奖牌：<span>'+data[cur_key].ela_medal_num+'</span></div>';
                            }
                            
                            html += '<li>'+
                                        '<a href="'+ranking_detail_url+'" class="external">'+
                                            '<div class="card integral_card">'+
                                                '<div class="integral_box">'+
                                                    '<div class="integral_photo"><span class="integral_serial">'+data[cur_key].ranking+'</span><img src="'+data[cur_key].headimgurl+'" width="80" height="80"/></div>'+
                                                    '<div class="integral_data">'+
                                                        '<div class="user_name">'+data[cur_key].nickname+team_name+'</div>'+
                                                        sort_text +
                                                        '<div class="user_ela">ELA币：<span>'+data[cur_key].total_ela.toFixed(6)+'</span></div>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</a>'+
                                    '</li>';
                        }
                        cur_key++;
                    }
                    $$('#'+cur_tab + ' .list-block ul').append(html);
                    if(data.length < itemsPerLoad){
                        $$('#'+cur_tab + ' .infinite-scroll-preloader').css("visibility", "hidden");
                    }
                }else{
                    $$('#'+cur_tab + ' .infinite-scroll-preloader').css("visibility", "hidden");
                }

                lastIndex = $$('#'+cur_tab + ' .list-block li').length;
                loading = false;
            });
        }, 1000);
    }
    loadData();

    var mySearchbar = app.searchbar('.searchbar', {
        searchList: '.list',
        searchIn: '.user_name'
    });

    $$(document).keydown(function(e){
        if(e.keyCode == 13){
            clearTabData();
            showScroll();
            lastIndex = $$('#'+cur_tab + ' .list-block li').length;
            loadData();
        }
    });

    function clearTabData(){
        $$('.list-block li').each(function(){
            $(this).remove();
        });
    }

    function showScroll(){
        $$('.tab').each(function(){
            $(this).children('.infinite-scroll-preloader').css("visibility", "visible");
        });
    }

    var calendarDefault = app.calendar({
        input: '#picker-data',
    }); 

    $$('#picker-data').on('change', function () {
        calendarDefault.close();
        clearTabData();
        showScroll();
        lastIndex = $$('#'+cur_tab + ' .list-block li').length;
        loadData();
    });

    $$('.android').removeClass('pixel-ratio-3');
    $$('.android').addClass('md device-pixel-ratio-3 device-retina device-desktop support-position-sticky');
</script>
{include file="public/_footer"}
