{include file="public/_header"}
<div class="chinaJoy_body" id="app">
    <div class="page page-with-subnavbar pageBg_fa">
        <div class="navbar navbar_chinaJoy">
            <div class="navbar-inner">
                <div class="left">
                    <a href="{:url('block/index')}" class="external"><i class="iconfont icon-leftArrow"></i></a>
                </div>
                <div class="title">生态排行榜</div>
            </div>
            <!-- Subnavbar -->
            <div class="subnavbar subTabs">
                <div class="subnavbar-inner">
                    <!-- Subnavbar content, for example tabs buttons -->
                    <div class="segmented">
                        {foreach $teams as $team}
                            <a href="#tab{$team.id}" data-teamid="{$team.id}" class="tab-link {eq name='team.id' value='1'}tab-link-active{/eq}">{$team.name}</a>
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content tabs-animated-wrap tabs">
            <div class="statistical_search">
                <div class="statistical_box">
                    <div id="team_statistical_name" class="statistical_name"></div>
                    <div id="team_statistical_data" class="statistical_data"></div>
                </div>
                <div class="search_box">
                    <form class="searchbar">
                        <div class="searchbar-inner">
                            <div class="searchbar-input-wrap">
                                <input id="search-input" type="search" placeholder="昵称">
                                <i class="searchbar-icon"></i>
                                <span class="input-clear-button"></span>
                            </div>
                            <span class="searchbar-disable-button">取消</span>
                        </div>
                    </form>
                </div>
            </div>
            {foreach $teams as $team}
                <div id="tab{$team.id}" class="tab {eq name='team.id' value='1'}tab-active{/eq}">
                    <!-- Searchbar backdrop -->
                    <div class="searchbar-backdrop"></div>
                    <!-- search target list -->
                    <div class="list list_content searchbar-found">
                        <ul id="list-ul{$team.id}"></ul>
                    </div>
                    <!-- Nothing found message -->
                    <div class="block searchbar-not-found">
                        <div class="block-inner">没有找到</div>
                    </div>

                </div>
            {/foreach}
         </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;

    var teams = {$teams_json};
    var teams_pageinfo = [];//每个战队的信息
    for(var i = 0; i < teams.length; i++){
        teams_pageinfo[teams[i].id] = {
            current_page:0,
            hasNext:true,
            ul_e:$$('#list-ul'+teams[i].id),
            name:teams[i].name,
            members_num:teams[i].members_num,
            medal_num:teams[i].medal_num,
        }
    }

    var curr_team_id = 1;//当前战队id
    var loading = false;//正在加载中

    //点击切换tab
    $$('.tab-link').on('click', function(){
        curr_team_id = parseInt($$(this).attr('data-teamid'));
        //填充静态战队信息
        fill_static_teaminfo();
        //第一次进入tab则加载数据
        if(teams_pageinfo[curr_team_id].current_page == 0){
            get_initData();
        }
    });

    //填充静态战队信息
    function fill_static_teaminfo(){
        $$('#team_statistical_name').text(teams_pageinfo[curr_team_id].name + '战队');
        $$('#team_statistical_data').text('总计：'+ teams_pageinfo[curr_team_id].members_num + '人  |  奖牌数：' + teams_pageinfo[curr_team_id].medal_num + '个');
    }

    //获取第一页初始化数据
    get_initData();fill_static_teaminfo();
    function get_initData(){
        if(loading) return;//如果正在加载数据，直接返回
        loading = true;
        //加载效果
        $$('.page-content').append(`<div class="jiazai"><i class="iconfont icon-jiazai"></i></div>`);
        //加载数据
        ajax_getRankingTeams();
    }

    //搜索时获取数据
    $$(document).keydown(function(e){
        if(e.keyCode == 13){
            //当前页重置为0
            teams_pageinfo[curr_team_id].current_page = 0;
            //清空列表数据
            teams_pageinfo[curr_team_id].ul_e.empty();
            get_initData();
        }
    });
    //搜索动画
    var searchbar = app.searchbar.create({
        el: '.searchbar',
        searchContainer: '.list',
        searchIn: '.user_name',
        on: {
            search(sb, query, previousQuery) {
            }
        }
    });

    //监听页面滚动，当滚动到底部时触发加载下一页
    $$('.page-content').scroll(function(){
        var scrollHeight = $$(this)[0].scrollHeight;
        var scrollTop = $$(this)[0].scrollTop;
        var height = $$(this).height();
        //已经滚动到底部
        if(scrollTop + height >= scrollHeight){
            if(loading) return;//如果正在加载数据，直接返回
            if(!teams_pageinfo[curr_team_id].hasNext) return;//如果没有下一页，直接返回
            loading = true;
            //加载效果
            $$(this).append(`<div class="jiazai"><i class="iconfont icon-jiazai"></i></div>`);
            //加载数据
            ajax_getRankingTeams();
        }
    });

    //动态获取数据
    function ajax_getRankingTeams(){
        var loading_team_id = curr_team_id;//防止加载中切换tab
        var url = "{:url('mobile/block/ajax_getRankingTeams')}";
        var data = {
            'team_id':loading_team_id,
            'keyword':$$('#search-input').val(),
            'page':teams_pageinfo[loading_team_id].current_page + 1
        };
        app.request.json(url, data, function(res){
            //去除加载效果
            $$('.jiazai').remove();
            //页面添加数据
            var listhtml = getListHtml(res.data);
            teams_pageinfo[loading_team_id].ul_e.append(listhtml);
            //设置当前页面以及是否有下一页
            teams_pageinfo[loading_team_id].current_page = res.current_page;
            teams_pageinfo[loading_team_id].hasNext = res.hasNext;
            //去除加载锁
            loading = false;
        })
    }

    //列表填充数据
    function getListHtml(data){
        var html = '';
        for(var i = 0; i < data.length; i++){
            html +=
            `<li>
                <div class="card integral_card">
                    <div class="integral_box">
                        <div class="integral_photo"><span class="integral_serial">`+data[i].ranking+`</span><img src="`+data[i].headimgurl+`" width="80" height="80"/></div>
                        <div class="integral_data">
                            <div class="user_name">`+data[i].nickname+`</div>
                            <div class="user_medal">奖牌：<span>`+data[i].medal_num+`</span></div>
                            <div class="user_ela">ELA币：<span>`+data[i].ela+`</span></div>
                            <div class="user_ecology">生态币：<span>`+data[i].eco+`</span></div>
                        </div>
                    </div>
                </div>
            </li>`;
        }
        return html;
    }
</script>
{include file="public/_footer"}
