{include file="public/_header"}
<div class="views chinaJoy_body ">
    <div class="page pageBg_fa  view view-main">
        <div class="navbar navbar_chinaJoy">
            <div class="navbar-inner">
                <div class="left">
                    <a href="{:url('block/ranking_list')}" class="external"><i class="iconfont icon-leftArrow"></i></a>
                </div>
                <div class="title">{$title}</div>
            </div>
        </div>
        <div class = "pages navbar-through">
            <div data-page = "home" class="page">
                <div class="page-content infinite-scroll">
                    <div class="list list_content searchbar-found list-block">
                        <ul>
                        </ul>
                    </div>
                    <div class="jiazai infinite-scroll-preloader">
                        <i class="iconfont icon-jiazai"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;

    var loading = false;
    var lastIndex = $$('.list-block li').length;
    var itemsPerLoad = 10;
    var user_id = '{$user_id}';

    $$('.infinite-scroll').on('infinite', function () {
        if (loading) return;
        loading = true;
        loadData();
    });

    function loadData(){
        setTimeout(function () {
            var cur_page = lastIndex/itemsPerLoad + 1;
            $$.get("{:url('block/ajax_getRankingDetail')}", {user_id:user_id,page:cur_page,pageNum:itemsPerLoad}, function (data) {
                data = JSON.parse(data);console.log(data);
                if(data.length > 0){
                    var html = '';
                    var cur_key = 0;
                    for (var i = lastIndex + 1; i <= lastIndex + data.length; i++) {
                        html += '<li>'+
                                    '<div class="card integral_card">'+
                                        '<div class="integral_box">'+
                                            '<div class="ranking_data">'+
                                                '<div class="game_title">'+data[cur_key].joy_name+'</div>'+
                                                '<div class="flexBox">'+
                                                    // '<div class="flexOne blcok_subelement">时间：<span>'+data[cur_key].use_time+'</span>s</div>'+
                                                    '<div class="flexOne blcok_subelement">得分：<span class="col-red">'+data[cur_key].score+'</span></div>'+
                                                '</div>'+
                                                '<div class="blcok_subelement">提交时间：<span>'+data[cur_key].create_time+'</span></div>'+
                                                '<div class="game_award blcok_subelement">获奖：<span class="color-green">是</span></div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</li>';
                        cur_key++;
                    }
                    $$('.list-block ul').append(html);
                    if(data.length < itemsPerLoad){
                        $$('.infinite-scroll-preloader').remove();
                    }
                }else{
                    $$('.infinite-scroll-preloader').remove();
                }

                lastIndex = $$('.list-block li').length;
                loading = false;
            });
        }, 1000);
    }
    loadData();

    $$('.android').removeClass('pixel-ratio-3');
    $$('.android').addClass('md device-pixel-ratio-3 device-retina device-desktop support-position-sticky');
</script>
{include file="public/_footer"}
