{include file="public/_header"}
<div class="chinaJoy_body" id="app">
    <div class="page page-with-subnavbar pageBg_fa">
        <div class="navbar navbar_chinaJoy">
            <div class="navbar-inner">
                <div class="left">
                    <a href="{:url('joy/index')}" class="external"><i class="iconfont icon-leftArrow"></i></a>
                </div>
                <div class="title">{$title}</div>
            </div>
            <!-- Subnavbar -->
            <div class="subnavbar subTabs user_info_tabs">
                <div class="subnavbar-inner">
                    <div class="user_info">
                        <img src="{$memberInfo.headimgurl}" alt="{$memberInfo.nickname}" class="user_img">
                        <h3 class="user_name">{$memberInfo.nickname}</h3>
                        <!-- <p class="user_text">
                            {if condition="$teamInfo"}
                                您当前在 {$teamInfo.name} 战队
                            {else /}
                                您还未加入战队
                            {/if}
                        </p> -->
                    </div>
                    <!-- <div class="user_data">
                        <div class="flexBox">
                            <div class="flexOne">
                                <div class="flexBox">
                                    <div class="user_info_icon"><img src="__IMG__/medal.png" alt=""></div>
                                    <div class="flexOne">
                                        <p class="user_info_title">奖牌</p>
                                        <p class="user_info_text"><span>{$medal_num}</span> 个</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flexOne">
                                <div class="flexBox">
                                    <div class="user_info_icon"><img src="__IMG__/ela.png" alt=""></div>
                                    <div class="flexOne">
                                        <p class="user_info_title">预估ELA币</p>
                                        <p class="user_info_text"><span>{$ela_currency}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="flexOne">
                                <div class="flexBox">
                                    <div class="user_info_icon"><img src="__IMG__/eco.png" alt=""></div>
                                    <div class="flexOne">
                                        <p class="user_info_title">预估生态币</p>
                                        <p class="user_info_text"><span>{$team_currency}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="page-content  user-info-content">
            <div class="list user_list">
                <ul>
                    <!-- <li>
                        <a href="{:url('member/set_wallet_addr')}" class="item-link item-content external">
                            <div class="item-media"><img src="__IMG__/wallet.png" alt="设置钱包地址"></div>
                            <div class="item-inner">
                                <div class="item-title">设置钱包地址</div>
                            </div>
                        </a>
                    </li> -->
                    <!-- <li>
                        <a href="{:url('member/switch_team')}" class="item-link item-content external">
                            <div class="item-media"><img src="__IMG__/Enterprise.png" alt="切换企业冠名"></div>
                            <div class="item-inner">
                                <div class="item-title">切换企业冠名</div>
                            </div>
                        </a>
                    </li> -->
                    <li>
                        <a href="{:url('member/personal_game_score')}" class="item-link item-content external">
                            <div class="item-media"><img src="__IMG__/achievement.png" alt="个人成绩"></div>
                            <div class="item-inner">
                                <div class="item-title">个人成绩</div>
                            </div>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="{:url('member/personal_message')}" class="item-link item-content external">
                            <div class="item-media"><img src="__IMG__/message.png" alt="我的消息"></div>
                            <div class="item-inner">
                                <div class="item-title">我的消息</div>
                            </div>
                        </a>
                    </li> -->
                </ul>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;

    // create searchbar
    var searchbar = app.searchbar.create({
        el: '.searchbar',
        searchContainer: '.list',
        searchIn: '.item-title',
        on: {
            search(sb, query, previousQuery) {
                console.log(query, previousQuery);
            }
        }
    });
</script>
{include file="public/_footer"}
