{include file="public/_header"}
<div class="chinaJoy_body" id="app">
    <div class="page">
        <div class="navbar navbar_chinaJoy">
            <div class="navbar-inner">
                <div class="left">
                    <a href="{:url('member/index')}" class="external"><i class="iconfont icon-leftArrow"></i></a>
                </div>
                <div class="title">{$title}</div>
            </div>
            <div class="subnavbar" style="background: #fff;">
                <div class="subnavbar-inner search_box">
                    <div class="message_search item-input">
                        <select name="msg-select" id="msg-select">
                            {foreach $msg_types as $msg_type}
                                <option value="{$msg_type.type}">{$msg_type.type_name}</option>
                            {/foreach}
                        </select>
                    </div>
                    <form class="searchbar">
                        <div class="searchbar-inner">
                            <div class="searchbar-input-wrap">
                                <input id="msg-keyword" type="search" placeholder="关键字">
                                <!-- 阻止回车默认提交表单 -->
                                <input style="display: none">
                                <i class="searchbar-icon"></i>
                                <span class="input-clear-button"></span>
                            </div>
                            <span class="searchbar-disable-button">取消</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="page-content chinaJoy_content" style="background: #e6e9ed;">
            <div class="message_box ">
                <div class="list media-list">
                    <ul id="msg-ul">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;
    
    var loading = false;//正在加载中
    var hasNext = true;//是否有下一页
    var current_page = 0;//当前页

    //页面初始化时获取一次数据
    get_initData();

    //获取第一页初始化数据
    function get_initData(){
        //当前页重置为0
        current_page = 0;
        //清空列表数据
        $$('#msg-ul').empty();
        //加载效果
        $$('.page-content').append(`<div class="jiazai"><i class="iconfont icon-jiazai"></i></div>`);
        //加载数据
        ajax_getPersonalMessage();
    }

    //切换类型时获取数据
    $$('#msg-select').on('change', function(){
        get_initData();
    });

    //搜索时获取数据
    $$(document).keydown(function(e){
        if(e.keyCode == 13){
            get_initData();
        }
    });
    //搜索动画
    var searchbar = app.searchbar.create({
        el: '.searchbar',
        searchContainer: '.list',
        searchIn: '.item-title',
        on: {
            search(sb, query, previousQuery) {
            }
        }
    });

    //监听页面滚动，当滚动到底部时触发加载下一页
    $$('.page-content').scroll(function(){
        var scrollHeight = $$(this)[0].scrollHeight;
        var scrollTop = $$(this)[0].scrollTop;
        var height = $$(this).height();
        //已经滚动到底部
        if(scrollTop + height >= scrollHeight){
            if(loading) return;//如果正在加载数据，直接返回
            if(!hasNext) return;//如果没有下一页，直接返回
            loading = true;
            //加载效果
            $$(this).append(`<div class="jiazai"><i class="iconfont icon-jiazai"></i></div>`);
            //加载数据
            ajax_getPersonalMessage();
        }
    });

    //动态获取数据
    function ajax_getPersonalMessage(){
        var url = "{:url('mobile/member/ajax_getPersonalMessage')}";
        var data = {
            'msg_type':parseInt($('#msg-select option:selected').val()),
            'keyword':$('#msg-keyword').val(),
            'page':parseInt(current_page) + 1 
        };
        app.request.json(url, data, function(res){
            //去除加载效果
            $$('.jiazai').remove();
            //页面添加数据
            var listhtml = getListHtml(res.data);
            $$('#msg-ul').append(listhtml);
            //设置当前页面以及是否有下一页
            current_page = res.current_page;
            hasNext = res.hasNext;
            //去除加载锁
            loading = false;
        })
    }

    //列表填充数据
    function getListHtml(data){
        var html = '';
        for(var i = 0; i < data.length; i++){
            html += 
            `<li>
                <a href="#" class="item-link item-content">
                    <div class="item-media"><img src="__IMG__/message_0`+data[i].type+`.png" width="44"/></div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">`+data[i].type_name+`</div>
                            <div class="item-after">`+timestampToDate(data[i].create_time * 1000)+`</div>
                        </div>
                        <div class="item-text">
                            `+data[i].content+`
                        </div>
                    </div>
                </a>
            </li>`;
        }
        return html;
    }

    //时间处理辅助函数
    function timestampToDate(time){
        var timeStamp = new Date(time);
        var y = timeStamp.getFullYear();
        var m = timeStamp.getMonth()+1;
        var d = timeStamp.getDate();
        var h = timeStamp.getHours();
        var mm = timeStamp.getMinutes();
        var s = timeStamp.getSeconds();
        if(m < 10) m = '0'+m;
        if(d < 10) d = '0'+d;
        if(h < 10) h = '0'+h;
        if(mm < 10) mm = '0'+mm;
        if(s < 10) s = '0'+s;
        return y+'.'+m+'.'+d+' '+h+':'+mm+':'+s;
    }
</script>
{include file="public/_footer"}
