{include file="public/_header"}
<div class="chinaJoy_body" id="app">
    <div class="page page-with-subnavbar pageBg_fa">
        <div class="navbar navbar_chinaJoy">
            <div class="navbar-inner">
                <div class="left">
                    <a href="{:url('mobile/member/index')}" class="external"><i class="iconfont icon-leftArrow"></i></a>
                </div>
                <div class="title">{$title}</div>
            </div>
            <!-- Subnavbar -->
            <div class="subnavbar subTabs block_info_tabs" style="height: 44px;">
                <div class="subnavbar-inner">
                    <!-- Subnavbar content, for example tabs buttons -->
                    <div class="segmented">
                        {foreach $joys as $joy}
                            <a href="#tab{$joy.id}" data-joyid="{$joy.id}" class="tab-link {eq name='joy.id' value='1'}tab-link-active{/eq}">{$joy.name}</a>
                        {/foreach}
                    </div>

                </div>
            </div>
        </div>
        <div class="page-content tabs-animated-wrap tabs">
            {foreach $joys as $joy}
                <div id="tab{$joy.id}"  class="tab {eq name='joy.id' value='1'}tab-active{/eq}">
                    <div class="list list_content game_score_content">
                        <ul id="list-ul{$joy.id}">
                        </ul>
                    </div>
                </div>
            {/foreach}
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;

    var joys = {$joys_json};
    var joys_pageinfo = [];//每个游戏的当前页数和是否有下一页信息
    for(var i = 0; i < joys.length; i++){
        joys_pageinfo[joys[i].id] = {current_page:0, hasNext:true, ul_e:$$('#list-ul'+joys[i].id)}
    }

    var curr_joy_id = 1;//当前游戏id
    var loading = false;//正在加载中

    //点击切换tab
    $$('.tab-link').on('click', function(){
        curr_joy_id = parseInt($$(this).attr('data-joyid'));
        //第一次进入tab则加载数据
        if(joys_pageinfo[curr_joy_id].current_page == 0){
            get_initData();
        }
    });

    //获取第一页初始化数据
    get_initData();
    function get_initData(){
        if(loading) return;//如果正在加载数据，直接返回
        loading = true;
        //加载效果
        $$('.page-content').append(`<div class="jiazai"><i class="iconfont icon-jiazai"></i></div>`);
        //加载数据
        ajax_getPersonalGameScore();
    }

    //监听页面滚动，当滚动到底部时触发加载下一页
    $$('.page-content').scroll(function(){
        var scrollHeight = $$(this)[0].scrollHeight;
        var scrollTop = $$(this)[0].scrollTop;
        var height = $$(this).height();
        //已经滚动到底部
        if(scrollTop + height >= scrollHeight){
            if(loading) return;//如果正在加载数据，直接返回
            if(!joys_pageinfo[curr_joy_id].hasNext) return;//如果没有下一页，直接返回
            loading = true;
            //加载效果
            $$(this).append(`<div class="jiazai"><i class="iconfont icon-jiazai"></i></div>`);
            //加载数据
            ajax_getPersonalGameScore();
        }
    });

    //动态获取数据
    function ajax_getPersonalGameScore(){
        var loading_joy_id = curr_joy_id;//防止加载中切换tab
        var url = "{:url('mobile/member/ajax_getPersonalGameScore')}";
        var data = {
            'joy_id':loading_joy_id,
            'page':joys_pageinfo[loading_joy_id].current_page + 1
        };
        app.request.json(url, data, function(res){
            //去除加载效果
            $$('.jiazai').remove();
            //页面添加数据
            var listhtml = getListHtml(res.data);
            joys_pageinfo[loading_joy_id].ul_e.append(listhtml);
            //设置当前页面以及是否有下一页
            joys_pageinfo[loading_joy_id].current_page = res.current_page;
            joys_pageinfo[loading_joy_id].hasNext = res.hasNext;
            //去除加载锁
            loading = false;
        })
    }

    //列表填充数据
    function getListHtml(data){
        var html = '';
        for(var i = 0; i < data.length; i++){
            html +=
            `<li>
                <a href="#" class="item-link">
                    <div class="card">
                        <div class="game_score_box">
                            <div class="game_score_photo"><img src="`+data[i].headimgurl+`" width="44"/></div>
                            <div class="game_score_data">
                                <div class="item-name"><span>昵称：</span>`+data[i].nickname+`</div>
                                <div class="flexBox">
                                    <div class="flexOne item-score"><span>得分：</span>`+data[i].score+`</div>
                                </div>
                                <div class="item-create_time"><span>提交时间：</span>`+timestampToDate(data[i].create_time * 1000)+`</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>`;
        }
        return html;
    }

    //时间处理辅助函数
    function timestampToDate(time){
        var timeStamp = new Date(time);
        var y = timeStamp.getFullYear();
        var m = timeStamp.getMonth()+1;
        var d = timeStamp.getDate();
        var h = timeStamp.getHours();
        var mm = timeStamp.getMinutes();
        var s = timeStamp.getSeconds();
        if(m < 10) m = '0'+m;
        if(d < 10) d = '0'+d;
        if(h < 10) h = '0'+h;
        if(mm < 10) mm = '0'+mm;
        if(s < 10) s = '0'+s;
        return y+'.'+m+'.'+d+' '+h+':'+mm+':'+s;
    }
</script>
{include file="public/_footer"}
