{include file="public/_header"}
<!-- App root element -->
<div id="app" class="chinaJoy_body">

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <!-- Initial Page, "data-name" contains page name -->
        <div data-name="home" class="page no-toolbar">

            <!-- Top Navbar -->
            <div class="navbar navbar_chinaJoy" style="height: 44px;">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="{:url('member/index')}" class="external"><i class="iconfont icon-leftArrow"></i></a>
                    </div>
                    <div class="title">{$title}</div>
                </div>
            </div>

            <!-- Toolbar -->
            <div class="toolbar toolbar-hidden">
                <div class="toolbar-inner">
                    <!-- Toolbar links -->
                </div>
            </div>

            <!-- Scrollable page content -->
            <div class="page-content chinaJoy_content" style="padding-bottom: 0;padding-top: 44px;">
                <ul class="wallet_list">
                    <li>
                        <div class="flexBox">
                            <div class="flexOne wallet_title">ELA</div>
                            <a href="{$ela.create_url}" class="wallet_establish_link external">创建ELA钱包 <i class="iconfont icon-link"></i></a>
                        </div>
                        <div class="wallet_input"><input class="wallet_addr_input" id="0" type="text" placeholder="请输入您的ELA钱包地址" value="{if condition='$ela.wallet_addr'}{$ela.wallet_addr}{/if}"></div>
                    </li>
                    <li>
                        <div class="flexBox">
                            <div class="flexOne wallet_title">{$team1.name}</div>
                        </div>
                        <div class="wallet_input"><input class="wallet_addr_input" id="{$team1.id}" type="text" placeholder="请输入您的{$team1.name}的erc20钱包地址" value="{if condition='$team1.wallet_addr'}{$team1.wallet_addr}{/if}"></div>
                    </li>
                    <li>
                        <div class="flexBox">
                            <div class="flexOne wallet_title">{$team2.name}</div>
                        </div>
                        <div class="wallet_input"><input class="wallet_addr_input" id="{$team2.id}" type="text" placeholder="请输入您的邮箱地址(活动结束会收到领币邮件)" value="{if condition='$team2.wallet_addr'}{$team2.wallet_addr}{/if}"></div>
                    </li>
                    <li>
                        <div class="flexBox">
                            <div class="flexOne wallet_title">{$team3.name}</div>
                        </div>
                        <div class="wallet_input"><input class="wallet_addr_input" id="{$team3.id}" type="text" placeholder="请输入您的{$team3.name}的erc20钱包地址" value="{if condition='$team3.wallet_addr'}{$team3.wallet_addr}{/if}"></div>
                    </li>
                    <li>
                        <div class="flexBox">
                            <div class="flexOne wallet_title">{$team4.name}</div>
                        </div>
                        <div class="wallet_input"><input class="wallet_addr_input" id="{$team4.id}" type="text" placeholder="请输入您的{$team4.name}的erc20钱包地址" value="{if condition='$team4.wallet_addr'}{$team4.wallet_addr}{/if}"></div>
                    </li>
                </ul>
                <div class="wallet_ok"><a id="wallet_addr_button" href="#" class="skyBlue_button wallet_ok_button" style="font-size: 18px;">确 定</a></div>
                <!-- <p class="wallet_tip">1.BIT.GAME</p>
                <p class="wallet_tip">请输入您的BIT.GAME的erc20钱包地址</p>
                <p class="wallet_tip">2. ViewChain</p>
                <p class="wallet_tip">请输入您的邮箱地址，您将在活动结束后收到领币邮件</p>
                <p class="wallet_tip">3. ioeX</p>
                <p class="wallet_tip">请输入您的ioeX的erc20钱包地址</p>
                <p class="wallet_tip">4. HASHWORLD</p>
                <p class="wallet_tip">请输入您的HASHWORLD的erc20钱包地址</p> -->
                <p class="wallet_tip">奖金于活动结束后一周内发放至对应钱包地址</p>
                <p class="wallet_tip">ViewChain将单独联系您发放</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;

    //点击确定提交
    var lock = false;
    $$('#wallet_addr_button').on('click', function(){
        if(lock) return;
        lock = true;
        var url = "{:url('mobile/member/doSetWalletAddr')}";
        var data = {};
        $$('.wallet_addr_input').each(function(index, element){
            data[index] = {
                'team_id' : element.id,
                'wallet_addr' : element.value
            };
        })
        app.request.json(url, data, function(res){
            lock = false;
            var title = res.status ? '成功' : '失败';
            app.dialog.alert(res.msg, title);
        });
    });

</script>
{include file="public/_footer"}
