{include file="public/_header"}
<div class="chinaJoy_body" id="app">
    <div class="page">
        <div class="navbar navbar_chinaJoy">
            <div class="navbar-inner">
                <div class="left">
                    <a href="{:url('member/index')}" class="external"><i class="iconfont icon-leftArrow"></i></a>
                </div>
                <div class="title">{$title}</div>
            </div>
        </div>
        <div class="page-content chinaJoy_content">
            <div class="rules_box">
                <div class="rules_content">
                    <div class="rules_text switch_team_box">
                        <h3 class="switch_team_title">选择您要加入的生态战队</h3>
                        <ul>
                            {foreach $teams as $team}
                                <li id="{$team.id}">
                                    <div class="flexBox">
                                        <div class="team_logo">
                                            <span class="triangle_mask"></span>
                                            <span class="choice_team"><i class="iconfont icon-ok"></i></span>
                                            <img src="__IMG__/{$team.name}.jpg" alt="{$team.name}">
                                        </div>
                                        <div class="flexOne">
                                            <div class="flexBox">
                                                <div class="flexOne game_name">{$team.name}</div>
                                                <div class="game_number">战队人数</div>
                                            </div>
                                            <div class="flexBox">
                                                <div class="flexOne game_bonus">奖金池约 <span class="color-red">{$team.total_eco_currency}</span> 生态币</div>
                                                <div class="game_number"><span class="color-green">{$team.current_members_num}</span>人</div>
                                            </div>
                                        </div>
                                    </div>
                                </li> 
                            {/foreach}
                            <li id="0">
                                <div class="flexBox">
                                    <div class="team_logo">
                                        <span class="triangle_mask"></span>
                                        <img src="__IMG__/noteam.jpg" alt="不加入任何战队">
                                    </div>
                                    <div class="flexOne">
                                        <p class="do_not_join">NO！我还不想加入任何生态战队</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <p class="switch_team_tip">您即使不加入任何生态战队，也有机会可以获取ELA奖金，<br>
                            加入战队同时有机会获取战队奖金哦。</p>
                        <div class="switch_team_button">
                            <a href="#" class="skyBlue_button external">确  定</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;

    $$('.switch_team_box ul li').click(function () {
        $$(this).siblings().removeClass('active');
        $$(this).toggleClass('active');
    })

    //默认选择当前team
    check_current_team();
    function check_current_team(){
        $$('.switch_team_box ul li').each(function(i, e){
            if(e.id == "{$current_team_id}"){
                $$(this).siblings().removeClass('active');
                $$(this).toggleClass('active');
            }
        });
    }

    //点击确定提交
    var lock = false;
    $$('.switch_team_button').on('click', function(){
        // if(lock) return;
        // lock = true;
        app.dialog.alert('当前切换战队功能已暂停', '提示', function(){
            location.reload();
        });
        
        // var team_id = $$('.switch_team_box ul').children('.active')[0].id;
        // var url = "{:url('mobile/member/doSwitchTeam')}";
        // var data = {
        //     'team_id' : team_id
        // };
        // app.request.json(url, data, function(res){
        //     lock = false;
        //     var title = res.status ? '成功' : '失败';
        //     app.dialog.alert(res.msg, title);
        // });
    });
</script>
{include file="public/_footer"}
