/*首页样式*/
.chinaJoy_content{
    background:linear-gradient(to bottom,  #6b86fe 0%,#00bec1 100%);
    background:url('../images/index_bg.png') no-repeat;
    background-size: 100% 100%;
}
.md .chinaJoy_body .navbar,
.ios .chinaJoy_body .navbar{
    background:linear-gradient(to bottom,  #6b86fe 0%,#00bec1 100%);
    background:url('../images/index_bg.png') no-repeat;
    background-size: 100%;
}
.md .chinaJoy_body .popup_menu .navbar,
.ios .chinaJoy_body .popup_menu .navbar{
    background: none;
}
.ios .chinaJoy_body .navbar:after{
    display: none;
}
.chinaJoy_body .navbar .title{
    color: #fafafa;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding-right: 26px;
    box-sizing: border-box;
}
.chinaJoy_body .navbar-inner{
    padding: 0 8px;
}
.ios .chinaJoy_body .navbar a{
    color: #fff;
}
.md .chinaJoy_body .navbar:after{
    display: none;
}
.top_img{
    text-align: center;
    padding: 35px 0 15px 0;
}
.top_img img{
    width: 60%;
}
.link_text{
    text-align: center;
    margin-top: -15px;
}
.link_text a{
    color: #fff;
    font-size: 14px;
}
.link_text a i{
    font-size: 14px;
    margin-left: 10px;
}
.game_link_button{
    padding-top: 55px;
}
.game_link_button a,
.error_back_link{
    display: block;
    width: 60%;
    margin: 0px auto 16px auto;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    text-decoration: none;
}
.game_link_button a img{
    position: absolute;
    width: 32px;
    top: -5px;
    left: -9px;
}
.violet_button{
    background: #6133f6;
    box-shadow: 0 5px 0px #4f28cc;
}
.roseRed_button{
    background: #ed5565;
    box-shadow: 0 5px 0px #cb3747;
}
.khaki_button{
    background: #ed9255;
    box-shadow: 0 5px 0px #cf773b;
}
.green_button{
    background: #09be6b;
    box-shadow: 0 5px 0px #009b54;
}
.orangeYellow_button{
    background: #f7ad14;
    box-shadow: 0 5px 0px #d39109;
}
.skyBlue_button{
    background: #4191fb;
    box-shadow: 0 5px 0px #2b7ce7;
}
.johnnyjumpup_button{
    background: #9e7bf6;
    box-shadow: 0 5px 0px #8a66e3;
}
.index_tip h3{
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: relative;
}
.index_tip h3:before{
    display: block;
    content: '';
    height: 1px;
    background: #fff;
    position: absolute;
    top: 7px;
    left: 5%;
    width: 35%;
}
.index_tip h3:after{
    display: block;
    content: '';
    height: 1px;
    background: #fff;
    position: absolute;
    top: 7px;
    right: 5%;
    width: 35%;
}
.index_tip p{
    padding: 0 5%;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
}
.md .navbar{
    background: none;
}

/*弹出导航菜单*/
.ios .popup_menu .page,
.md .popup_menu .page,
.popup_menu{
    background: none;
}
.popup-backdrop{
    background: rgba(6,9,25,.9);
}
.menu_link{
    padding: 100px 50px;
    text-align: center;
}
.menu_link a{
    color: #fff;
    font-size: 14px;
}
.menu_link a i{
    font-size: 60px;
}
.menu_link a:hover,
.menu_link a:active,
.menu_link a:focus{
    color: #02ddde;
}
.menu_link>div:nth-child(1),
.menu_link>div:nth-child(2){
    border-bottom: 1px solid #233042;
}
.menu_link>div:nth-child(1),
.menu_link>div:nth-child(3){
    border-right: 1px solid #233042;
}

/*游戏规则*/
.ios .rules_box{
    height: 100%;
    padding: 50px 0 0 0;
    box-sizing: border-box;
    margin: 0;
}
.rules_content{
    background: #ccd1d9;
    height: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}
.rules_text{
    background: #fff;
    position: relative;
    top: -50px;
    border-radius:5px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    height: calc(100% + 35px);
    overflow-y: auto;
}
.rules_text p{
    margin: 0;
    /*padding-bottom: 15px;*/
    font-size: 14px;
    line-height: 24px;
    color: #434a54;
}
.rules_text p:last-child{
    padding-bottom: 0;
}
/*生态排行榜*/
.md .chinaJoy_body .subnavbar,
.ios .chinaJoy_body .subnavbar{
    background:linear-gradient(to bottom,  #6b86fe 0%,#00bec1 100%);
    background:url('../images/index_bg.png') no-repeat;
    background-size: 100%;
    background-position-y: -43px;
}
.subTabs .segmented{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flex;
}
.ios .chinaJoy_body .navbar .subTabs a.tab-link,
.chinaJoy_body .navbar .subTabs a.tab-link{
    display:block;
    -webkit-box-flex:1;
    font-size: 14px;
    text-align: center;
    position: relative;
    padding: 10px 0;
}
a.tab-link-active:after{
    position: absolute;
    height: 2px;
    background: #fff;
    width: 100%;
    left: 0;
    bottom: 0px;
    content: '';
    display: block;
}
.ios .pageBg_fa,
.pageBg_fa{
    background: #fafafa;
}
.statistical_search{
    padding: 0 15px;
}
.statistical_box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flex;
    padding: 8px 0;
    font-size: 12px;
    color: #656d78;
}
.date_search{
    height: 32px;
    padding-right: 10px;
}
.statistical_box .statistical_data{
    -webkit-box-flex:1;
    text-align: right;
}
.md .page-content .searchbar{
    margin: 0;
}
.md .searchbar-input-wrap{
    height: 32px;
}
.md .page-content .searchbar,
.md .page-content .searchbar .searchbar-inner {
    border-radius: 16px;
    box-shadow: none;
}
.md .searchbar input[type=search], .md .searchbar input[type=text],
.ios .searchbar input[type=search], .ios .searchbar input[type=text]{
    padding: 0 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:16px;
    font-family: inherit;
    color: #000;
    font-weight: 400;
    z-index: 30;
    background-color: #e8e8ea;
    position: relative;
    text-align: center;
    font-size: 14px;
}
.ios .search_box .searchbar input[type=search],
.search_box .searchbar input[type=search],
.ios .search_box .searchbar input[type=text],
.search_box .searchbar input[type=text]{
    border-radius: 16px;
    text-align: center;
    font-size: 14px;
}
.ios .search_box .searchbar-inner,
.search_box .searchbar-inner{
    padding: 0;
}
.ios .search_box .searchbar,
.search_box .searchbar{
    background: none;
}
.ios .search_box .searchbar:after,
.search_box .searchbar:after{
    display: none;
}
.ios .list_title,.ios .list_content,
.list_title,.ios .list_content{
    margin: 0;
}
.ios .list_content ul,
.ios .list_content ul:before,
.ios .list_content ul:after,
.list_content ul,
.list_content ul:before,
.list_content ul:after{
    background: none;
}
.integral_card{
    padding: 10px 0;
    overflow: hidden;
}
.integral_box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.integral_data{
    -webkit-box-flex: 1;
    padding: 0 15px;
    box-sizing: border-box;
}
.integral_photo{
    position: relative;
    padding-left: 15px;
}
.integral_photo span{
    position: absolute;
    top: -10px;
    left: 0px;
    display: inline-block;
    padding: 0px 5px;
    background: #e6e9ed;
    border-bottom-right-radius:4px;
    font-size: 14px;
    color: #434a54;
}
.integral_photo img{
    border-radius: 50%;
}
.integral_data>div{
    font-size: 12px;
    color: #434a54;
}
.integral_data>div.user_name{
    font-size: 14px;
    font-weight: bold;
}
.user_medal span{
    color: #ffab00;
}
.user_ela span{
    color: #3bafda;
}
.user_ecology span{
    color: #37bc9b;
}
.user_medal span,
.user_ela span,
.user_ecology span,
.user_time span,
.user_number span,
.user_submission span{
   font-size: 14px;
}
.user_number span{
    color: #ed5565;
}
.list_content li:nth-child(1) .integral_photo span,
.list_content li:nth-child(2) .integral_photo span,
.list_content li:nth-child(3) .integral_photo span{
    color: #fff;
    background: #ed5565;
}
.tabs-animated-wrap{
    overflow-y: auto;
}


/*所有出块记录*/
.data_title{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flex;
    width: 100%;
    font-size: 14px;
    color: #fff;
}
.data_time{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
}
.data_content,.data_content li{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.data_content li{
    padding: 0 8px;
}
.data_content li a{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flex;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #e6e9ed;
}
.data_content li:last-child a{
    border-bottom: 0;
}
.data_number{
    min-width: 75px;
    padding-right: 10px;
}
.data_records{
    min-width: 40px;
    padding-left: 10px;
}
.data_icon i{
    color: #aab2bd;
    font-size: 12px;
    margin-left: 10px;
}
.data_content .data_records {
    text-align: right;
}
.data_title .data_records {
    text-align: right;
    padding-right: 19px;
}
.data_content .data_records,
.data_content .data_time,
.data_content .data_transactions{
    color: #434a54;
}
.data_content .data_number{
    color: #5477fb;
}
/**/
.block_info_tabs .subnavbar-inner{
    display: block;
}
.ios .subnavbar.block_info_tabs,
.md .subnavbar.block_info_tabs{
    height: 130px;
}
.md .navbar {
    height: 44px;
}
@media (min-width: 768px){
    .md .navbar {
        height: 44px;
    }
    .ios .subnavbar.block_info_tabs,
    .md .subnavbar.block_info_tabs{
        height: 130px;
    }
}

.block_info{
    background: rgba(255,255,255,.2);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.block_info h3{
    margin: 0;
    font-size: 12px;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,.3);
    padding-bottom: 5px;
}
.flexBox{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flex;
    width: 100%;
}
.flexOne{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
}
.block_info{
    font-size: 12px;
    color: #fff;
}
.text_public{
    line-height: 20px;
    padding-top: 5px;
}
.block_info_tabs .data_title .data_medal,
.block-records-content .data_content .data_medal{
    padding: 0 0 0 10px;
    min-width: 30px;
    text-align: center;
}
.block_info_tabs .data_title .data_number,
.block-records-content .data_content  .data_number{
    padding: 0 10px 0 0;
    min-width: 30px;
    text-align: center;
}
.ios .page-with-subnavbar .navbar~.page-content.block-records-content,
.md .page-with-subnavbar .navbar~.page-content.block-records-content{
    padding-top: 174px;
}
@media (min-width: 768px){
    .ios .page-with-subnavbar .navbar~.page-content.block-records-content,
    .md .page-with-subnavbar .navbar~.page-content.block-records-content{
        padding-top: 174px;
    }
}
.block_info_tabs .data_title .data_transactions,
.block_info_tabs .data_content .data_transactions{
    min-width: 80px;
}
.color-red{
    color: #ed5565;
}
.color-green{
    color: #37bc9b;
}


/*用户中心*/

.user_info_tabs .subnavbar-inner{
    display: block;
    padding: 0;
}
.ios .subnavbar.user_info_tabs,
.md .subnavbar.user_info_tabs{
    height: 229px;
}
.md .navbar {
    height: 44px;
}
@media (min-width: 768px){
    .md .navbar {
        height: 44px;
    }
    .ios .subnavbar.user_info_tabs,
    .md .subnavbar.user_info_tabs{
        height: 229px;
    }
}
.ios .page-with-subnavbar .navbar~.page-content.user-info-content,
.md .page-with-subnavbar .navbar~.page-content.user-info-content{
    padding-top: 272px;
    background: #e6e9ed;
}
@media (min-width: 768px){
    .ios .page-with-subnavbar .navbar~.page-content.user-info-content,
    .md .page-with-subnavbar .navbar~.page-content.user-info-content{
        padding-top: 272px;
        background: #e6e9ed;
    }
}
.user_info{
    text-align: center;
    padding:5px 0 15px 0;
}
.user_img{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border:2px solid #fff;
}
.user_name{
    margin: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
.user_text{
    margin: 0;
    font-size: 12px;
    color: #fff;
}
.user_data{
    font-size: 12px;
    background: #fff;
    padding: 12px 0;
    color: #434a54;
}
.user_info_icon{
    padding:0 5px 0 2px;
}
.user_info_icon img{
    width: 36px;
}
.user_info_title,.user_info_text{
    margin: 0;
}
.user_info_text{
    color: #aab2bd;
}
.user_info_text span{
    font-size: 16px;
    color: #4586f5;
}
.user_data .flexBox{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.user_data>.flexBox>.flexOne{
    border-right: 1px solid #e6e9ed;
}
.user_data>.flexBox>.flexOne:last-child{
    border-right: 0px solid #e6e9ed;
}
.ios .user_list{
    margin: 10px 0;
}
.ios .user_info_tabs.subnavbar:after{
    background: #ccd1d9;
}
.ios .list.user_list ul:before,
.ios .list.user_list ul:after{
    background: #ccd1d9;
}
.ios .list.user_list .item-inner:after{
    background: #e6e9ed;
}
.user_list .item-media img{
    width: 30px;
}
.user_list .item-inner{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #3c3c3c;
}
/*切换企业冠名*/
.switch_team_box{
    background: none;
    padding: 0;
}
.switch_team_title{
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin: 0;
}

.switch_team_box ul,.switch_team_box ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.switch_team_box ul li{
    background: #fff;
    border: 2px solid transparent;
    padding: 2px;
    margin-bottom:7px;
    box-shadow: 0px 2px 0px #d3d8e0;
    border-radius: 5px;
}
.switch_team_box ul li:hover,
.switch_team_box ul li.active{
    border: 2px solid #ed5565;
}
.team_logo{
    position: relative;
    overflow: hidden;
}
.team_logo img{
    width: 66px;
    height: 56px;
    display: block;
}
.team_logo .choice_team{
    position: absolute;
    width: 66px;
    height: 56px;
    background: rgba(0,0,0,.6);
    z-index: 1;
    display: none;
}
.team_logo .choice_team i{
    color: #fff;
    font-size: 20px;
    margin: 18px 0 18px 20px;
    display: inline-block;
}
.triangle_mask{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 56px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    right: -10px;
    z-index: 2;
}
.switch_team_box ul li.active .choice_team{
    display: block;
}
.game_name{
    font-size: 16px;
    color: #434a54;
    font-weight: 500;
    padding-left: 10px;
    line-height: 25px;
}
.game_bonus{
    font-size: 12px;
    color: #656d78;
    padding-left: 10px;
    line-height: 25px;
}
.game_number{
    font-size: 12px;
    color: #656d78;
}
.game_number span{
    font-size: 15px;
}
.game_bonus span{
    font-size: 12px;
    font-weight: 500;
}
.game_number{
    padding-right: 10px;
}
.switch_team_box .flexBox{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.do_not_join{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}
.rules_text p.switch_team_tip{
    font-size: 12px;
    color: #656d78;
    line-height: 20px;
    text-align: center;
    margin: 15px 0;
}
.switch_team_button a{
    display: block;
    margin: 0px auto 16px auto;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
}
.md .rules_box{
    height: 100%;
    padding: 50px 0 0 0;
    box-sizing: border-box;
    margin: 0;
}
/*我的消息*/
.message_search{
    width: 160px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    background: #e8e8ea;
    position: relative;
    color: #333;
    margin-right: 10px;
}
.message_search select,
.message_search select.input-focused{
    border: none;
    outline: none;
    width: 100%;
    height: 32px;
    line-height: 32px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    padding: 0 20px 0 10px;
}
.message_search select option{
    border: 0;
    border-bottom: 1px solid  #ccc;
    font-size: 14px;
}
  .message_search:after{
      content: "";
      width: 14px;
      height: 8px;
      background: url('../images/xiala.png') no-repeat center;
      position: absolute;
      right: 5px;
      top: 11px;
      pointer-events: none;
      background-size: 10px 10px;
  }
.ios .message_box{
    padding: 43px 0 0 0;
    background: #fff;
}
.ios .message_box .media-list .item-link .item-title-row{
    padding: 0;
    background: none;
}
.ios .message_box .list{
    margin: 0;
}
.ios .message_box .list .item-title{
    font-size: 16px;
    font-weight: 500;
    color: #434a54;
}
.ios .message_box .list .item-text{
    font-size: 14px;
    color: #656d78;
    max-height: 300px;
    -webkit-line-clamp: 100;
}
.ios .message_box .list .item-after{
    font-size: 12px;
    color: #656d78;
}

.ios .message_box .list .read .item-title,
.ios .message_box .list .read .item-text,
.ios .message_box .list .read .item-after{
    color: #aab2bd;
}


/*404*/
.sys_error,
.sys_error body,
.sys_error body .chinaJoy_content{
    height: 100%;
    margin: 0;
    padding: 0;
}
.error_text{
    text-align: center;
    font-size: 14px;
    color: #fefefe;
}
.error_text span{
    color: #ffd800;
    font-size: 16px;
}
/*钱包地址*/
.wallet_list{
    margin: 0;
    padding: 0 15px;
}
.wallet_list li{
    list-style: none;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
.wallet_title{
    font-size: 12px;
    color: #434a54;
}
.wallet_establish_link{
    display: block;
}
.wallet_establish_link,.wallet_establish_link i{
    font-size: 12px;
    color: #5477fc;
    text-decoration: none;
}
.wallet_input{
    margin-top: 5px;
}
.wallet_input input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aab2bd;
    background: #e6e9ed;
    padding: 5px;
    border-radius: 2px;
}
.wallet_list li:hover .wallet_input input,
.wallet_list li:hover .wallet_input input:focus{
    background: #ffffff;
    border: 1px solid #4c7ef8;
}
.wallet_ok{
    padding:0 15px;
}
.wallet_ok_button{
    display: block;
    width: 100%;
    margin: 0px auto 16px auto;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    text-decoration: none;
}
.ios a.wallet_ok_button{
    color: #fff;
}
.wallet_tip{
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding:0 10px;
    margin: 0;
}
.error_img{
    padding: 65px 0 50px 0;
}
.error_img img{
    width: 100%;
}
.error_text{
    margin-bottom: 80px;
}
.results_icon{
    text-align: center;
    margin-top: 150px;
}
.results_icon .iconfont{
    font-size: 50px;
    color: #fff;
}
.results_tip p{
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    width: 60%;
    text-align: left;
    text-indent: 30px;
}
@media screen and (min-width: 1100px) {
    body {
        width: 640px;
        margin: 0 auto;
    }
}
.data_search{
    padding: 0 8px;
}
.data_search .flexBox{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
}
.block_time_search input{
    width: 105px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    background: #e8e8ea;
    position: relative;
    color: #333;
    margin-right: 10px;
    text-align: center;
}
.ranking_data{
    padding:0 10px;
    line-height: 20px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}
.game_title{
    font-weight: bold;
    font-size: 14px;
    color: #333;
}
.blcok_subelement{
    color: #6f6f6f;
}
.blcok_subelement span{
    color: #333;
}
.blcok_subelement span.col-red{
    color: #ff0000;
}
.game_score_box{
    padding: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flex;
}
.game_score_box .game_score_data{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
}
.game_score_photo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
}
.game_score_data{
    font-size: 14px;
    color: #333;
    line-height: 20px;
}
.text-right{
    text-align: right;
}
.game_score_data .item-name{
    color: #333;
    font-weight: bold;
}
.game_score_data .item-score{
    color: #ff0000;
}
.game_score_data div span{
    color: #6f6f6f;
}
/*遮罩层*/
.mask{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}
.popup_new{
    width: 200px;
    height: 147px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -88px;
    margin-left: -115px;
    background: #fff;
    padding: 15px;
    z-index: 5001;
    display: none;
    border-radius: 5px;
    text-align: center;
}
.popup_new i{
    font-size: 50px;
}
.popup_new p{
    margin: 0;
    color: #333;
    font-size: 16px;
}
.popup_new .close_popup{
    height: 35px;
    line-height: 35px;
    color: #fff;
    border-radius: 5px;
    display:inline-block;
    margin:15px 5px 5px 5px;
    padding: 0 50px;
    font-size: 16px;
}
.popup_ok .button_ok{
    background: #4191fb;
    box-shadow: 0 5px 0px #2b7ce7;
}
.popup_no .button_no{
    background: #4191fb;
    box-shadow: 0 5px 0px #2b7ce7;
}
.jiazai{
    display: block;
    margin: 30px auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    -webkit-animation: ios-preloader-spin 1s steps(12,end) infinite;
    animation: ios-preloader-spin 1s steps(12,end) infinite;
}
.jiazai i{
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    color: #bcbcbc;
}
.md .list.list_content {
    margin: 0;
}
.md .list.list_content:before {
    display: none;
}
.md a.wallet_ok_button {
    color: #fff;
}

.md .message_box .list .item-text{
    font-size: 14px;
    color: #656d78;
    max-height: 300px;
    -webkit-line-clamp: 100;
}
