{extend name="layout" /}
{block name="progress"}
<div class="progress active progress-mini">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>
{/block}
{block name="content"}
<div class="box-content step5 text-center">
    {php}{/php}
    <div class="push-20">
        <img src="{$static_dir}install/img/finish.png" alt="">
    </div>
    <p>再次感谢您选择Elastos，希望您会喜欢我们的产品！</p>
    <p class="h3">后台默认账号/密码：admin</p>
    <a href="/admin" class="btn btn-minw btn-default push-20-r">登录后台</a>
    <a href="/" class="btn btn-minw btn-default">打开前台</a>
</div>
{/block}