{extend name="layout" /}
{block name="progress"}
<div class="progress active progress-mini">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
</div>
{/block}
{block name="logo"}{/block}
{block name="content"}
<div class="box-content step1">
    <div style="height: 300px;text-align: center;padding-top: 25%">
        <h3>欢迎使用</h3>
        <h1>Elastos通用后台</h1>
    </div>
    <div class="button">
        <button id="next" class="btn btn-minw btn-default" type="button">{$next}</button>
    </div>
</div>
{/block}