* {
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    color: #fff;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
    
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
canvas {
    touch-action: none;
    -ms-touch-action: none;
}

.screen-rotate{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fff;
}

.main {
    touch-action: none;
    -ms-touch-action: none;
    position: absolute;
    top: 0;
    left: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 20px;
    background-repeat: no-repeat;
    /* background-color: #000; */
    /* display: none; */
}
.view-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 586px;
    height: 320px;
    margin: auto;
}
.view {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center
}
.success {
    display: none;
}
.fail {
    display: none;
}
.paused {
    display: none;
}

.exit-btn{
    position: absolute;
    top: 108px;
    left: 432px;
    width: 43px;
    height: 43px;
    background-image: url("../images/btn-exit.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.continue-btn{
    position: absolute;
    top: 150px;
    left: 450px;
    width: 40px;
    height: 40px;
}
.replay-btn{
    position: absolute;
    top: 200px;
    left: 400px;
    width: 40px;
    height: 40px;
}
.upload-btn{
    position: absolute;
    top: 250px;
    left: 250px;
    width: 70.8px;
    height: 35.2px;
    background-image: url("../images/score.png");
    background-size: 100% auto;

}

.paused > .exit-btn {
    top: 165px;
    left: 190px;
}

.toast-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 341px;
    height: 192px;
    margin: auto;
    display: none;

}
.toast-view > .close-icon {
    position: absolute;
    right: 10px;
    top: 25px;
    width: 31.8px;
    height: 30.6px;
    background-image: url("../images/cha-1.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.close-btn {
    background-image: url("../images/butt3-3.png");
    background-repeat: no-repeat;
    background-size: 100% auto; 
}

.toast-view > .toast-exit {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_exit.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.toast-exit >.exit-game {
    background-image: url("../images/butt2-3.png");
    background-repeat: no-repeat;
    background-size: 100% auto; 
}

.toast-view > .toast-upload {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_upload.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
.upload-score {
    background-image: url("../images/butt1-3.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.toast-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 341px;
    height: 192px;
    margin: auto;
    background-image: url("../images/bg-loading.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: none;
}

.upload-success {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_upload-success.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
.upload-fail {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_upload-fail.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.upload-success > .restart-btn {
    background-image: url("../images/btn-restart.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.upload-exit-game {
    background-image: url("../images/btn-exit-1.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.continue-upload {
    background-image: url("../images/btn-continue-upload.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.left-btn {
    position: absolute;
    left: 30px;
    bottom: 25px;
    width: 118px;
    height: 33.6px;

}

.right-btn {
    position: absolute;
    right: 30px;
    bottom: 25px;
    width: 118px;
    height: 33.6px;
}

