{include file="public/_header"}
<!-- App root element -->
<div id="app" class="chinaJoy_body">
    <!-- Statusbar overlay -->
    <div class="statusbar"></div>

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <!-- Initial Page, "data-name" contains page name -->
        <div data-name="home" class="page no-toolbar">

            <!-- Top Navbar -->
            <div class="navbar navbar_chinaJoy">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" data-popup=".popup_menu" class="popup-open"><i class="iconfont icon-menu"></i></a>
                    </div>
                    <div class="title">{$title}</div>
                </div>
            </div>

            <!-- Toolbar -->
            <div class="toolbar toolbar-hidden">
                <div class="toolbar-inner">
                    <!-- Toolbar links -->
                </div>
            </div>

            <!-- Scrollable page content -->
            <div class="page-content chinaJoy_content" style="padding-bottom: 0">
                <div class="top_img"><img src="__IMG__/machines.png" alt=""></div>
                <!-- <div class="link_text"><a href="{:url('joy/rules')}" class="external">游戏获奖规则 <i class="iconfont icon-rightArrow"></i></a></div> -->
                <div class="game_link_button">
                    <a href="{$joys.0.joy_url}" class="violet_button external">{if $joys.0.is_award == 1}<img src="__IMG__/prize.png" alt="">{/if}{$joys.0.name}</a>
                    <a href="{$joys.1.joy_url}" class="roseRed_button external">{if $joys.1.is_award == 1}<img src="__IMG__/prize.png" alt="">{/if}{$joys.1.name}</a>
                    <a href="{$joys.2.joy_url}" class="khaki_button external">{if $joys.2.is_award == 1}<img src="__IMG__/prize.png" alt="">{/if}{$joys.2.name}</a>
                    <!-- <a class="roseRed_button alert-text">通过弹窗演示按钮</a> -->
                    <!-- <a class="roseRed_button alert-no">拒绝弹窗演示按钮</a> -->
                </div>
                <div class="block index_tip">
                    <!-- <h3><span>温馨提示</span></h3>
                    <p>亲爱的游戏玩家：游戏分有奖游戏和无奖游戏。玩“星际迷航”游戏可以获取ELA奖牌；如果您加入生态企业战队还可以额外获取生态企业奖牌，奖励多多。玩“火柴人”游戏没有任何奖牌哦，就是这么刺激。</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="mask"></div>
<div class="popup_new popup_ok">
    <i class="iconfont icon-ok color-green"></i>
    <p>恭喜，提交成功！</p>
    <a href="#" class="button_ok close_popup">确定</a>
</div>
<div class="popup_new popup_no">
    <i class="iconfont icon-close color-red"></i>
    <p>抱歉，请重新提交！</p>
    <a href="#" class="button_no close_popup">确定</a>
</div> -->
<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;
    // $$('.alert-text').on('click', function () {
    //     $$('.popup_ok').show();
    //     $$('.mask').show();
    // });
    // $$('.alert-no').on('click', function () {
    //     $$('.popup_no').show();
    //     $$('.mask').show();
    // });
    // $$('.close_popup').on('click', function () {
    //     $$('.popup_ok').hide();
    //     $$('.popup_no').hide();
    //     $$('.mask').hide();
    // });
    // $$('.mask').on('click', function () {
    //     $$('.popup_ok').hide();
    //     $$('.popup_no').hide();
    //     $$('.mask').hide();
    // });
</script>
{include file="public/_menu"}
{include file="public/_footer"}
