{include file="public/_header"}
<div class = "views chinaJoy_body">
    <div class = "page page-with-subnavbar pageBg_fa view view-main">
        <div class = "navbar navbar_chinaJoy">
            <div class="navbar-inner">
                <div class="left">
                    <a href="{:url('joy/index')}" class="external"><i class="iconfont icon-leftArrow"></i></a>
                </div>
                <div class="title">{$title}</div>
            </div>
            <!-- Subnavbar -->
            <div class="subnavbar subTabs">
                <div class="subnavbar-inner">
                    <!-- Subnavbar content, for example tabs buttons -->
                    <div class="segmented">
                        {foreach name='tabs' item='tab' key='key'}
                            <a href="#tab{$tab.id}" class="tab-link {if $tab.id == $cur_tab}tab-link-active{/if}" data-id="{$tab.id}">{$tab.name}</a>
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>
        <div class = "pages navbar-through">
            <div data-page = "home" class="page" style="margin-top: 40px;">
                <div class = "page-content infinite-scroll tabs-animated-wrap tabs">
                    {foreach name='tabs' item='tab' key='key'}
                    <div id="tab{$tab.id}" class="tab {if $tab.id == $cur_tab}tab-active{/if}">
                        <!-- Searchbar backdrop -->
                        <div class="searchbar-backdrop"></div>
                        <!-- search target list -->
                        <div class="list list_content searchbar-foun list-block">
                            <ul>
                            </ul>
                        </div>
                        <div class="jiazai infinite-scroll-preloader">
                            <i class="iconfont icon-jiazai"></i>
                        </div>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var myApp = new Framework7();
    var $$ = Dom7;

    var cur_tab  = 'tab1';
    var cur_tab_id = 1;
    var old_tab_id = 1;
    var loading = false;
    var lastIndex = $$('#'+cur_tab + ' .list-block li').length;
    var itemsPerLoad = 10;
    var oldLastIndex = lastIndex;

    $$('.tab-link').on('click', function () {
        old_tab_id = cur_tab_id;
        oldLastIndex = $$('#tab'+old_tab_id + ' .list-block li').length;
        var id = $(this).attr('data-id');
        $$('.tab').each(function(){
            if($(this).hasClass('tab-active')){
                $(this).removeClass('tab-active');
            }
        });
        $$('#tab'+id).addClass('tab-active');
        cur_tab = 'tab'+id;
        cur_tab_id = id;
        lastIndex = $$('#'+cur_tab + ' .list-block li').length;
        $$('.tab-link').each(function(){
            if($(this).hasClass('tab-link-active')){
                $(this).removeClass('tab-link-active');
            }
        });
        $(this).addClass('tab-link-active');
        if(lastIndex == 0) loadData();
    });

    $$('.infinite-scroll').on('infinite', function () {
        loadData();
    });

    function loadData(){
        if (loading) return;
        loading = true;
        setTimeout(function () {
            var cur_page = parseInt(lastIndex/itemsPerLoad) + 1;
            if(lastIndex%itemsPerLoad > 0) cur_page++;
            $$.get("{:url('joy/ajax_getJoyItem')}", {joy_id:cur_tab_id,page:cur_page,pageNum:itemsPerLoad}, function (data) {
                data = JSON.parse(data);
                if(data.length > 0){
                    var html = '';
                    var cur_key = 0;
                    for (var i = lastIndex + 1; i <= lastIndex + data.length; i++) {
                        if(data[cur_key].joy_id == cur_tab_id){
                            html += '<li>'+
                                        '<div class="card integral_card">'+
                                            '<div class="integral_box">'+
                                                '<div class="integral_photo"><span class="integral_serial">'+data[cur_key].ranking+'</span><img src="'+data[cur_key].headimgurl+'" width="80" height="80"/></div>'+
                                                '<div class="integral_data">'+
                                                    '<div class="user_name">'+data[cur_key].nickname+'</div>'+
                                                    '<div class="flexBox">'+
                                                        // '<div class="flexOne user_time">时间：<span>'+data[cur_key].use_time+'s</span></div>'+
                                                        '<div class="flexOne user_number">得分：<span>'+data[cur_key].score+'</span></div>'+
                                                    '</div>'+
                                                    '<div class="user_submission">提交时间：<span>'+data[cur_key].create_time+'</span></div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</li>';
                        }
                        cur_key++;
                    }
                    $$('#'+cur_tab + ' .list-block ul').append(html);
                    if(data.length < itemsPerLoad){
                        $$('#'+cur_tab + ' .infinite-scroll-preloader').css("visibility", "hidden");
                    }
                }else{
                    $$('#'+cur_tab + ' .infinite-scroll-preloader').css("visibility", "hidden");
                }

                lastIndex = $$('#'+cur_tab + ' .list-block li').length;
                loading = false;
            });
        }, 1000);
    }
    loadData();

    $$('.android').removeClass('pixel-ratio-3');
    $$('.android').addClass('md device-pixel-ratio-3 device-retina device-desktop support-position-sticky');
    $$('.android .page').css("margin-top", "0px");
</script>
{include file="public/_footer"}
