{include file="public/_header"}
<!-- App root element -->
<div id="app" class="chinaJoy_body">
    <div class="view view-main">
        <div data-name="home" class="page no-toolbar no-navbar">

            <!-- Top Navbar -->
            <div class="navbar navbar-hidden">
                <div class="navbar-inner">
                </div>
            </div>
            <!-- Toolbar -->
            <div class="toolbar toolbar-hidden">
                <div class="toolbar-inner">
                </div>
            </div>

            <!-- Scrollable page content -->
            <div class="page-content chinaJoy_content" style="padding-bottom: 0;padding-top: 0">
                <div class="results_icon"><i class="iconfont icon-ok"></i></div>
                <div class="results_tip">
                    <p>亲爱的玩家，你的游戏成绩已经成功提交！</p>
                </div>
                <div class="game_link_button">
                    <a href="{$joy_url}" class="orangeYellow_button external">继续游戏</a>
                    <a href="{:url('mobile/joy/index')}" class="orangeYellow_button external">返回游戏大厅</a>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;
</script>
{include file="public/_menu"}
{include file="public/_footer"}
