{include file="public/_header"}
<div class="chinaJoy_body ">
    <div class="page">
        <div class="navbar navbar_chinaJoy">
            <div class="navbar-inner">
                <div class="left">
                    <a href="{:url('block/index')}" class="external"><i class="iconfont icon-leftArrow"></i></a>
                </div>
                <div class="title">{$title}</div>
            </div>
        </div>
        <div class="page-content chinaJoy_content">
            <div class="block rules_box">
                <div class="rules_content">
                    <div class="rules_text">
                        <p>进入游戏大厅，选择带有奖励标志的游戏来玩。在游戏结束后提交成绩即可参与抽奖活动。</p>
                        <p>一、活动时间</p>
                        <p>北京时间2018年8月1日 00:00:00 – 2018年8月5日 12:00:00</p>
                        <p>二、提交成绩奖励</p>
                        <p>1.每出一次块即发出一块奖牌；</p>
                        <p>2.奖牌随机发放给在该块内提交有效成绩记录的玩家，如果没有有效成绩记录，则不发奖。</p>
                        <p>随机算法：将该块内的有效成绩记录的交易按txid的字典升序排序，并从0到N-1编号；再将块的时间戳对N取模，其结果就是中奖编号，然后为对应的玩家发放奖牌。</p>
                        <p>三、每日TOP10奖励</p>
                        <p>1.从北京时间2018年8月1日0点的块高度开始计算；</p>
                        <p>2.排名时间间隔为720个块；</p>
                        <p>3.可以反复提交游戏成绩；</p>
                        <p>4.按每日提交成绩的累计得分排名；</p>
                        <p>5.对于得分前10的玩家，每人奖励5块奖牌。</p>
                        <p>四、奖金池</p>
                        <p>1.ELA奖金池默认是100 ELA；当用户数大于1000人时，奖金池为：用户数 x 0.1ELA；</p>
                        <p>2.生态奖金池为固定金额，由系统设定。</p>
                        <p>五、发奖规则</p>
                        <p>1.按奖牌数量平分ELA奖金池；</p>
                        <p>2.按最后冠名分组，瓜分对应的生态币奖金池；</p>
                        <p>3.于活动结束后一周内发放。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Framework7({root:'#app'});
    var $$ = Dom7;
</script>
{include file="public/_footer"}