<!--弹出导航菜单-->
<div class="popup popup_menu">
    <div class="view">
        <div class="page">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left"><a href="#" data-popup=".popup_menu" class="link popup-close"><i class="iconfont icon-guanbi"></i></a></div>
                </div>
            </div>
        </div>
        <div class="page-content" style="margin-top: 44px">
            <div class="row no-gap menu_link">
                <!-- Each "cell" has col-[widht in percents] class -->
                <div class="col-50">
                    <a href="{:url('joy/index')}" class="game_link external">
                        <i class="iconfont icon-game"></i>
                        <p>游戏大厅</p>
                    </a>
                </div>
                <div class="col-50">
                    <a href="{:url('member/index')}" class="user_link external">
                        <i class="iconfont icon-user"></i>
                        <p>个人中心</p>
                    </a>
                </div>
                <div class="col-50">
                    <a href="{:url('block/index')}" class="trophy_link external">
                        <i class="iconfont icon-trophy"></i>
                        <!-- <p>ChinaJoy奖赏榜</p> -->
                        <p>排行榜</p>
                    </a>
                </div>
                <div class="col-50">
                    <a href="{:url('joy/ranking_list')}" class="charts_link external">
                        <i class="iconfont icon-charts"></i>
                        <p>游戏排行榜</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
